/* General formatting*/
body{
    background-color: #264754 !important;
    font: 12px sans-serif;
    color:#ffffff;
    margin: 0 auto;
    font-weight: normal;
    padding: 15px 0 0 0;
    margin-top: 15px;

}
a{
    font: inherit;
    color: inherit;
}
a:hover{
    color: rgb(48, 45, 212);
}
p{
    font-size: 1.2rem;
}
.container-fluid{
    padding: 0;
}
.tradeMark{
    background-color: #693A54;
    text-align: center;
    margin-top: 200px;
    bottom: 0;
    padding: 15px;
    width: 100%;  
}
.tradeMark p{
    opacity: .5;
}
.row{
    margin-right: 0;
}
.center{
    text-align: center;
}
/* For Navigation------------------------------------------*/
 /*Login Format-------------------------------------------------*/   
@media only screen and (min-width: 576px) {
#loginImg{
    justify-self: flex-start;
}
}
@media only screen and (max-width: 576px) {
    .loginNav{
        margin: 0 auto;
    }
}
.loginNav{
    display: flex;
}
.loginText{
    padding: 3px;
}


.navbar{
    padding: 5px;;
    background-color: #693A54;
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: white;
}
.navbar li{
    text-align: center;
    padding:5px
}
/* For About artist---------------------------------------------*/
.botMargin{
    margin-bottom: 25px;
}
.card{
    margin: 0 auto;
    border:0 ;

}
.card-body{
    background-color: #693A54;
    padding-bottom: 5px ;
}
.event{
    max-width: 300px;

}
.gridContainer{
    margin: 25px auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    font-size: 1.25rem;
}
.gridContainer div img{
    margin: auto;
}
@media only screen and (max-width: 450px){
    #songCarousel{
       width: 100%;
    }
    .carousel-inner img{
        width: 100%;
    }
}
.carousel-item img{
    border-radius: 50px;
    position: center;
}
.carousel-item :hover{
    color:rgb(48, 45, 212);
    text-decoration: underline;
    font-weight: bold; 
}
@media only screen and (min-width: 530px){
 #steviePic{
    width: 500px;
 }
}
@media only screen and (max-width: 530px){
    #steviePic{
       width: 100%;
    }
}
.youtube{
    margin-top: 15px;
}


/* For Event page-----------------------------------------------*/

.bellCenter{
    border-radius: 100px;
    max-width: 450px;
    width: 100%;
}
.eventHead{
    margin-top: 25px;
}

.leftEventGrid{
    text-align: left;
    font-weight: bolder;
}
.rightEventGrid{
    padding-right: 10px;
    padding-bottom: 2px;
    text-align:right;
}
.rightEventGrid p{
    margin-bottom: .5rem;

}
.seat{
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #693A54;
    border: gray 2px solid;
}

@media only screen and (max-width: 655px){
    .seat h1{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 390px){
    .seat h1{
        font-size: 1rem;
    }
}

/* For Register--------------------------------------------------------main content--------------------------------*/

.registerH1 {
    text-align: center;
    font-size: 4rem;
    margin: 40px 0;
}

.registerH3 {
    font-size: 1.2rem;
    padding: 20px 0;
    text-align: center;
    background-color:  #693A54;
}

.registerH4 {
    font-size: 1.1rem;
    padding: 5px 0 5px 10px;
    margin: 30px 0;
    background-color:  #693A54;
}

.leftColumnRegister {
    margin-left: 50px;
}


@media only screen and (min-width: 992px){
    .rightColumnRegister {
        margin-right: 50px;
    }
}


/* --------------------------------------------------------------account login grid--------------------------------*/

.accountLoginLeft {
    padding: 5px 0;
    margin: 10px 0;
}

.loginInput {
    margin: 8px 0;
}

/* ---------------------------------------------------------------account information grid---------------------------*/

.accountInfoLeft {
    padding: 5px 0;
    margin: 10px 0;
}

.inputInfoRight {
    margin: 8px 0;
}


.inputDOB {
    margin: 10px 0;
    padding: 5px 0;
}


.registerBtn {
    color: white;
    background-color: #693A54;
    font-size: 1.5rem;
    padding: 10px 30px;
    margin-top: 145px;
    margin-bottom: 100px;
    margin-left: 50px;  
}

@media only screen and (max-width: 992px){
    .rightColumnRegister {
        margin-top: 50px;
        margin-left: 50px;
    }
}

/*----------------------------------------------------------------Login Page-----------------------------------------*/

/*Login Page CSS*/
@media only screen and (min-width:1400px) {
    .loginPage::after {
        content: "";
        background: url("images/backgroundImageLarge.jpg");
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        opacity: .7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;   
      }
  }
  @media only screen and (max-width:1400px) {
  .loginPage::after {
    content: "";
    background: url("images/backgroundImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
}

.mainLogin {
    text-align: center;
}

.mainLogin h1 {
    font-size: 4rem;

}

.loginInfo {
    padding: 30px;
}

.loginInfo input {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
}


.facebookInput {
    color: white;
    font-weight: 500;
    background-color: #3b5998;
    width: 300px;
    margin: 6px;
    padding: 5px;
}

.gmailInput {
    color: white;
    font-weight: 500;
    background-color: #D44638;
    width: 300px;
    margin: 6px;
    padding: 5px;
}

.emailInput {
    color: white;
    font-weight: 500;
    background-color: #009e0b;
    width: 300px;
    margin: 6px;
    padding: 5px;
}

.twitterInput {
    color: white;
    font-weight: 500;
    background-color: #08A0E9;
    width: 300px;
    margin: 6px;
    padding: 5px;
}

.mainLogin a {
    font-weight: 700;
    text-decoration: underline;
}
/*-------------------------------------------------- For  Venue Page-----------------------------------------------*/
.venueH1 {
    text-align: center;
    font-size: 4rem;
    margin: 40px 0;
}

.venueCard {
    margin-top: 25px;
    border: 5px solid #693A54;
    text-align: center;
    width: 290px;
}

.venueCard .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.venueCard .card-title {
    text-decoration: underline;
    font-size: 1.5rem;
}

.venueCard .text {
    text-align: justify;
}

.venueCard .card-maps {
    margin-bottom: 15px;
}

.venueCard .card-address {
    color: darkgrey;
}

.venueH3 {
    font-size: 3rem;
    padding: 20px 0;
    text-align: center;
    background-color:  #693A54;
    margin: 40px 0;
    border-radius: 4px;
}

@media only screen and (min-width: 700px){
    .venueH3{
        letter-spacing: 3rem;
    }
}
@media only screen and (max-width: 700px){
    .venueH3{
        letter-spacing: 0;
    }

    .venueCard {
        margin-bottom: 25px;
    }

}
/* Home Page----------------------------------------------*/
.mainHome{
    background-color: #693A54;
    margin:25px 0;
    padding: 25px;
}
.mainHome .card-img{
    border-radius: 15px;
}
@media only screen and (min-width: 992px){
    .eventSmall{
        margin: 15px 0;
    }

}
@media only screen and (max-width: 992px){
    .eventSmall{
        margin: 25px 0;
    }
}
@media only screen and (max-width: 350px){
    .mainHome h3{
        font-size: 1.25rem;
    }
    .mainHome p{
        font-size: 1rem;
    }
}

.width{
    width: 100%;
}


.social{
    background-image: url(images/homePage.jpg);
    background-position: center;
}
.social button{
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 26px;
    border: none;
    color: #ffffff;
    width: 250px;
    outline: none;

}
.social button i{
    float: left;
}
.facebook{
    background-color: #4267B2;
}

.twitter{
    background-color: #1DA1F2;
}
.instagram{

    background: radial-gradient(circle, #FFDC80 10%, #FCAF45 20%, #F77737 30%, #F56040 40%, #FD1D1D 50%, #E1306C 60%,  #C13584 70%, rgba(131,58,180,1) 80%, rgba(91,81,216,1) 90%, rgba(64,93,230,1) 100%);
    
}
@media only screen and (max-width: 992px){
    .social h2{
        margin-top: 15px;
    }
    .social button{
        margin-bottom: 30px;
    }
    .social h2{
        margin-bottom: 25px;
    }

}
@media only screen and (min-width: 992px){
    .social button{
        margin-bottom: 50px;
    }
    .social h2{
        margin-top: 25px;
        margin-bottom: 200px;
    }

}
@media only screen and (min-width: 750px){
    .email h2{
        width: 750px;
    }
}
@media only screen and (max-width: 750px){
    .email h2{
        width: auto;
    }
}
.email h2{
    margin: 25px auto;
}
.emailList{
    background-color: #ffffff;
    color: black;
    font-size: 1.5rem;
    border-radius: 15px;
}
.emailList input{
    border: none;
    outline: none;
}

@media only screen and (min-width: 375px){
    .emailList{
        margin: 0 auto;
        width: 375px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 375px){
    .emailList{
        font-size: 1rem;
    }
}
/*Event Map -----------------------------------------------------*/
@media only screen and (max-width: 1100px) and (min-width: 850px){
    #map {
        height: 800px;
        margin: 0 25px;
    }
}
@media only screen and (max-width: 850px) and (min-width:575px){
    #map {
        height: 600px;
        margin: 0 25px;
    }
}
@media only screen and (max-width: 575px){
    #map {
        height: 400px;
        margin: 0 25px;
    }
}

@media only screen and (min-width: 1050px){
    #map {
        height: 800px;
        width: 1000px;
        margin:0 auto;

    }
}

.btn-primary, .btn-success{
    color: #fff;
    background-color: #693a69;
    border-color: #693A54;
}
#map h2, #map p{
    color: black;
}

#map a{
    font-size: large;
    font-weight: bold;
    color: #693A54;
}


/*About Us/Contact Us -------------------------------------------------------------*/


#aboutusbody {
    margin: 20px 25px;
    text-align: center;
}


.aboutus {
    margin-bottom: 5rem;
}

.artistheader h2 {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 750px){
    .feedback {
        width: 100%;
        margin: 2rem auto;
    }
}
@media only screen and (min-width: 750px){
    .feedback {
        width: 40%;
        margin: 2rem auto;
    }
}
.form-group {
    font-size: 1.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #693A54;
    border-color: #693A54;
}

.redArtist{
    background-color: #693A54;
    margin: auto 0;
}
.blueArtist{
    background-color: #264754;
}
@media only screen and (min-width: 400px){
    .blueArtist{
        font-size: 1.5rem;
    }
    .redArtist{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 400px){
    .blueArtist{
        font-size: 1rem;
    }
    .redArtist{
        font-size: 1rem;
    }
}

.btn-info {
    background-color: none;
    border: 1px solid black;
}

/* Calendar css-----------------------------------------*/

.prev-date, .next-date {
    opacity: 0.5;
}

.today {
    background-color: #264754;
}

.eventoff {
    background-color: rgb(245, 110, 110);
}

.eventon {
    background-color: rgb(108, 240, 108);
}

  
.calButton{
      background-color: transparent;
      border: transparent;
  }

.media img{
    width: 10rem;
}
.popover{
    max-width: 350px;
}

.calTable {
    font-size: large;
    text-align: center;
    background-color: black

}
.calRow{
    border: none;
}


@media only screen and (max-width: 750px){
    .searchbar {
        width: 100%;
        margin: 2rem auto;
    }
}
@media only screen and (min-width: 750px){
    .searchbar {
        width: 40%;
        margin: 2rem auto;
    }
}
.calTable{
    border: white .5px solid;
    padding: 0;
    margin: auto;
}
.calTable div{
    border:none
}
.calTable div div{
    border: white .5px solid;
    padding: 10px 0;
}
@media only screen and (max-width:850px){

    .calTable{
        font-size: 1rem;
    }
    .calButton{
        font-size: 1rem;
        padding: 5px;
    }
}
@media only screen and (max-width:550px){
    .calTable{
        font-size: .65rem;
    }

    .calButton{
        font-size: .65rem;
        padding: 2px;
    }
}
